<div class="w-75 mx-auto mb-5 mt-5">
	<div class="back-btn">
		<a href="/store" class="text-dark"><i class="fas fa-chevron-left"></i> Back</a>
	</div>

	<div class="row mt-4">
		<div class="col-sm-2">
			<div class="account-categories w-75">
				<p class="fw-bold text-dark mb-3 fs-2">My Account</p>
				<a class="text-dark d-block mb-3 fw-bold p-1" href="/account">Account</a>
				<a class="text-light d-block mb-3 rounded p-1" style="background-color:#F19953;" href="/account/orders">Orders</a>
				<a class="text-dark d-block fw-bold  mb-3 rounded p-1" href="/account/settings">Settings</a>
			</div>
		</div>
		<div class="col-sm-10">
			<p class="fs-3 fw-bold text-dark">Order History</p>
			<div class="row align-items-start border-bottom">
				<div class="col">
					Order Id
				</div>
				<div class="col">
					Order Date
				</div>
				<div class="col">
					Shipping Address
				</div>
				<div class="col">
					Order
				</div>
				<div class="col">
					Total amount
				</div>
			</div>

			<div class="account-orders-table">
				{{#each orders}}
				<div class="row align-items-start mt-4 mb-4 border-bottom">
					<div class="col">
						#{{this.orderId}}
					</div>
					<div class="col">
						{{@key}}
					</div>
					<div class="col">
						{{this.address}}
					</div>
					<div class="col">
						{{#each this.products}}
							<span>{{this.productName}} (x{{this.quantity}})</span><br />
						{{/each}}
					</div>
					<div class="col">
						${{this.totalAmount}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>